#header	{
		 font-family: Arial;
		 color:blue;
		 text-align: center;
		 font-size: 50px;
		}

nav		{
		 background-color:darkblue;
		 text-align: center;
		}

a		{
		 font-weight:bold;
		}

a:link	{
		 color:white;
		 text-decoration: none;
		}

a:visited	{
			 color:white;
			 text-decoration: none;
			}

body	{
		 background-color:black;
		}

#myH1		{
		 color:red;
		}

#myP		{
		 color:orange;
		}

img		{

}

ul 		{
			color:white;
		}