#header	{
		 font-family: Arial;
		 color:blue;
		 text-align: center;
		 font-size: 50px;
		}

nav		{
		 background-color:darkblue;
		 text-align: center;
		}

a		{
		 font-weight:bold;
		}

a:link	{
		 color:white;
		 text-decoration: none;
		}

a:visited	{
			 color:white;
			 text-decoration: none;
			}

body	{
		 background-color:black;
		}

#blurb, #gmail	{
				 color:cyan;
				 text-align: center;
				 font-size: 20px;
				 text-decoration: none;
				}

#skills {
			color:white;
			list-style-position: inside;
			margin:auto; width:300px;
		}