body	{
		 background-color:black;
		}

h1		{
		 color:red;
		}

p		{
		 color:orange;
		}
img		{

}
/* Let's pick courier because it has a fixed width. */
a		{
			font-family:Courier;
		}

ul 		{
			color:white;
		}